body {
    font-family: 'Anonymous Pro', monospace;
}

.link {
    color: #2FFF2B;
    text-decoration: none;
}

.link:hover {
    color: white;
}

.font-size {
    font-size: 20px;
}
.text-points {
    color: #2FFF2B;
    font-size: 25px;
}
.text-aqua {
    color: white;
}

.points-total {
    font-size: 25px;
    color: aqua;
}

.welcome {
    padding: 0.5rem 0;
    border-bottom: 1px solid aqua;
}

.welcome .title {
    color: aqua;
}

.welcome img {
    width: 22%;
    /* width: 8%; */
}

.wrapper-teams .team  {
    color: white;
    padding: 0.8rem 5rem;
    margin: 0.8rem 0;
    border-bottom: 1px solid aqua;
}

.wrapper-teams .team.current {
    /* border: 2px dashed #2FFF2B; */
    position: relative;
    border-bottom: none;
}

.wrapper-teams .team .points {
    color: aqua;
    font-weight: bold;
    font-size: 25px;
}

.wrapper-teams .team .team-members{
    margin-bottom: 0.4rem;
}

.wrapper-teams .team .team-members i{
  color: yellow; 
  
}

.wrapper-questions {
    padding: 0.8rem 0;;
}
.wrapper-options .card-question,
.wrapper-questions .card-question {
    border: 2px solid aqua;
    border-radius: 5px;
    padding: 2rem 3rem;
    color: white;
    background-color: black;
}

.wrapper-questions .btn-next-question {
    border: none;
    background-color: aqua;
    padding: 1rem 3rem;
    border-radius:  5px;
}

.wrapper-questions .btn-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 20px;
}
.wrapper-questions .btn-circle.error {
    background-color: red;
    color: yellow;
}

.wrapper-questions .btn-circle.correct {
    background-color: #2FFF2B;
    color: #111;
}

.wrapper-questions .btn-circle.half {
    background-color: yellow;
    color: black;
}

/*  */

.wrapper-options .options li{
    font-style: italic;
    color: aqua;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}



.square {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.9);
    position: relative;
}

/* comun */

.square:before,
.square:after {
    content: "";
    display: block;
    background-color: yellow;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.5s;
}

/* horizontal */
.square:before {
    height: 3px;
    width: 0%;
    box-shadow: -100px calc(3px - 100%)  #2FFF2B;
    animation: borderHorizontal 2s infinite linear;
    /* animation: borderHInverse 2s infinite linear; */
}

/* .square:hover:before {
    right: 0;
    width: 85%;
} */

/* vertical */
.square:after {
    width: 3px;
    height: 0%;
    box-shadow: calc(100% - 3px) -100px  #2FFF2B;
    animation: borderVertical 2s infinite linear;
}

/* .square:hover:after {
    height: 85%;
} */

@keyframes borderHorizontal {
    0% {
        width: 0%;
        box-shadow: 0 calc(3px - 100px) yellow;
    }
    25% {
        width: 25%;
        box-shadow: 0 calc(3px - 100px) yellow;
    }
    50% {
        width: 50%;
        box-shadow: 0 calc(3px - 100px) yellow;
    }
    75% {
        width: 75%;
        box-shadow: 0 calc(3px - 100px) yellow;
    }
    100% {
        width: 100%;
        box-shadow: 0 calc(3px - 100px) yellow;
    }
}

@keyframes borderVertical {
    0% {
        height: 0%;
        box-shadow: calc(100% - 3px) 0 yellow;
    }
    25% {
        height: 25%;
        box-shadow: calc(100% - 3px) 0 yellow;
    }
    50% {
        height: 50%;
        box-shadow: calc(100% - 3px) 0 yellow;
    }
    75% {
        height: 75%;
        box-shadow: calc(100% - 3px) 0 yellow;
    }
    100% {
        height: 100%;
        box-shadow: calc(100% - 3px) 0 yellow;
    }
}

@media only screen and (min-width: 768px) {
    .welcome img {
        width: 8%;
    }
}

/* animation */

/* .box {
    position: relative;
} */

.team.current span.border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:block;
}

.team.current span.border:nth-of-type(1) {
    transform: rotate(0deg)
}
/* .team.current span.border:nth-of-type(2) {
    transform: rotate(90deg)
} */
.team.current span.border:nth-of-type(3) {
    transform: rotate(180deg)
}
/* .team.current span.border:nth-of-type(4) {
    transform: rotate(270deg)
} */
.team.current span.border:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2FFF2B;
    animation: animation 8s linear infinite;
}

@keyframes animation {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform: scaleX(1);
        transform-origin: right;
    }
    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}